{% extends '_base.html' %}
{% block title %} Books {% endblock title %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Жанры</a>
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  {% for category in categories %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'genre' category.name %}">{{category.name}}</a>
                </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </nav>

<header>
 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4
            mb-3" >
            <nav class="my-2 my-md-0 mr-md-3">
                {% if user.is_admin %}
             <a class="p-2 text-light btn btn-info" href="{% url 'book_create' %}">Create book</a>
                {% endif %}
            </nav>
 </div>
</header>

<div class="container-fluidr">
      <div class="row justify-content-start">
    {% for book in books %}
    <div class="col-2 align-self-start">

        <img class="bookcover" src="{{ book.cover.url }}" alt="{{book.title}}" widht="550px" height="350px"/>
      <h4><a href="{{ book.get_absolute_url }}">{{book.title}}</a></h4>
    </div>
    {% endfor %}
      </div>
</div>



{% endblock content%}