[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-allauth = "*"
environs = {extras = ["django"], version = "*"}
pillow = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
packaging = "*"
pip = "*"
install = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
flower = "*"
celery = "==4.4.2"
redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
