{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Заказ{% endblock title %}

{% block content %}
 <h4>Заказ №{{order.pk}}</h4>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{order.name}}
        </div>

        <div class="form-group col-md-6 mb-0">
            {{order.secondname}}
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{order.numberphone}}
        </div>

        <div class="form-group col-md-6 mb-0">
            {{order.email}}
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            <p>{{order.fulladdress}}</p>
            <p>{{order.Payment}}</p>
            <p>Статус:{{order.status}}</p>
        </div>
    </div>

<h4>Состав заказа</h4>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Изображение</th>
        <th scope="col">Hаименование</th>
        <th scope="col">Кол-во</th>
        <th scope="col">Цена</th>
        <th scope="col">Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <th scope="row"><img class="bookcover3" src="{{ book.book.cover.url}}"/></th>
        <td>{{book.book.title}}</td>
        <td>{{book.count}}</td>
        <td>{{book.price}}</td>
        <td>{{book.summ }}</td>
    </tr>
    {% endfor %}

    <tr>
        <th scope="row">ВСЕГО</th>
        <td></td>
        <td></td>
        <td></td>
        <th>{{summ}} руб</th>
    </tr>
    </tbody>
</table>

{% endblock content%}